@import "reset.css";

.fixed-menu
    position fixed
    top 0
    left 0
    right 0
    background #ffffff
    z-index 1


.public-header
    position relative
    height 100px
    @media(max-width 767px)
        height 60px
    .brand
        height 100%
        font-size 0
        i
            display inline-block
            width 0
            height 100%
        img
        i
            vertical-align middle
        img
            @media(max-width 767px)
                height 40px
    .clear
        height 100%
        @media(max-width 1199px)
            width 100%
            padding 20px 0 30px
            display flex
            justify-content center
            align-items center
            flex-direction column
            height auto 
    .mobile-menu
        height 100%
        left 0
        right 0
        width 100%
        background #ffffff
        z-index 10
        @media(max-width 1199px)
            position absolute
            height auto
            left -15px
            right -15px
            padding 0 15px
            display none
    .moblie-toggle
        height 100%
        width 50px
        font-size 0
        text-align center
        display none
        cursor pointer
        @media(max-width 1199px)
            display block
        @media(max-width 767px)
            padding 0 10px
            box-sizing border-box
        i
        span
            display inline-block
            vertical-align middle
        &.active
            span
                background rgba(0,0,0,0)
                &:after
                    top 0
                    transform rotateZ(45deg)
                    transition top 0.3s,bottom 0.3s,transform 0.3s 0.3s
                &:before
                    bottom 0
                    transform rotateZ(-45deg)
                    transition top 0.3s,bottom 0.3s,transform 0.3s 0.3s
        span
            position relative
            width 100%
            height 2px
            background #856b36
            cursor pointer
            transition 0.3s
            &:before
            &:after
                content ''
                position absolute
                left 0
                right 0
                height 2px
                width 100%
                background #856b36
                transition 0.3s
            &:after
                top -20px
                transition top 0.3s 0.3s,bottom 0.3s 0.3s,transform 0.3s
                @media(max-width 767px)
                    top -13px
            &:before
                bottom -20px
                transition top 0.3s 0.3s,bottom 0.3s 0.3s,transform 0.3s
                @media(max-width 767px)
                    bottom -13px
                
        i
            width 0
            height 100%
    .menu
        height 100%
        .nav
            font-size 18px
            color #1d2741
            line-height 100px
            @media(max-width 1199px)
                float none
                line-height 50px
            .item
                position relative
                @media(max-width 1199px)
                    float none
            a
                display block
                padding 0 20px
                transition 0.3s
                &:hover
                    color #ffffff
                    background #ac915b
                &.active
                    color #ac915b
                &.on
                    .iconfont
                        display inline-block
                        transform rotate(180deg)
            .child-menu
                display none
                position absolute
                top 100px
                left 0
                right 0
                background #ffffff
                z-index 10
                @media(max-width 1199px)
                    position static
                    padding 0 15px
                .item
                    height 45px
                    width 100%
                    a
                        font-size 14px
                        padding 0 15px
                        line-height 45px

        .login-other
            padding-left 50px
            font-size 0
            height 100%
            @media(max-width 1199px)
                padding-left 0
                padding-right 30px
                padding 0
            a
            i
                display inline-block
                vertical-align middle
            i
                width 0
                height 100%
            a
                margin-left 10px
                width 28px
                height 28px
                border-radius 50%
                text-align center
                line-height 28px
                font-size 18px
                color #ffffff
                background #cccccc
                transition 0.3s
                @media(max-width 1199px)
                    margin 0 20px
                &:hover
                    background #ac915b
        .login-register
            margin-left 20px
            font-size 0
            height 100%
            text-align right
            position relative
            @media(max-width 1199px)
                margin-left 0
                margin-top 20px
            &:after
                content ''
                position absolute
                left 50%
                height 14px
                top 50%
                margin-top -7px
                background #ded3bd
                width 1px
            a
            i
                display inline-block
                vertical-align middle
            i
                width 0
                height 100%
            a
                font-size 16px
                color #333333
                transition 0.3s
                @media(max-width 1199px)
                    margin 0 20px
                &:hover
                    color #ac915b
                &+a
                    margin-left 30px



.public-footer
    background #111523
    .news
        padding 40px 0 60px
        width 100%
        margin 0 auto
        box-sizing border-box
        @media(max-width 767px)
            padding-bottom 0
        h3
            padding-bottom 15px
            font-size 16px
            color #c39c4a
            line-height 30px
            font-weight normal
        .item
            padding 15px 0
            font-size 12px
            line-height 20px
            color #856b36
            border-bottom 1px dashed #856b36
            a
                transition 0.3s
                &:hover
                    color #ffffff
    .about
        padding 45px 0
        width 100%
        margin 0 auto
        // @media(max-width 767px)
        //     width 100%
        .contact
            padding-bottom 25px
            font-size 16px
            color #c39c4a
            line-height 26px
            @media(max-width 767px)
                display flex
                flex-wrap wrap
                text-align center
            a
                position relative
                transition 0.3s
                @media(max-width 767px)
                    flex 0 0 50%
                &+a
                    margin-left 46px
                    @media(max-width 767px)
                        margin-left 0
                    &:after
                        position absolute
                        content ""
                        left -23px
                        width 1px
                        top 5px
                        bottom 5px
                        background #4f4739
                        @media(max-width 767px)
                            display none
                &:hover
                    text-decoration underline
        h3
            font-size 14px
            color #ffffff
            line-height 1
        p
            padding-top 16px
            font-size 14px
            color #999999
            line-height 1.5
            span+span
                padding-left 10px
            &.copy-right
                padding-top 20px
                color #666666
            &.pt0
                padding-top 0



.main
    padding-top 100px
.main-banner
    .no-js-banner
        height 120px
        background url('') center center/100% 100% no-repeat
        h3
            font-size 32px
            color #ffffff
            text-align center
            line-height 120px
    .layout
        a
        img
            display block
            margin 0 auto
            width 100%
        // img
        //     @media(max-width 767px)
        //         height 500px
        //         width auto 
    .swiper-pagination-bullet
        opacity 0.6
        background #ffffff
        transition 0.3s
        border-radius 4px
    .swiper-pagination-bullet-active
        width 42px
        opacity 1
    .content
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        color #ffffff
        line-height 1.5
    .first-pages
        text-align center
        h3
            padding-top 140px
            font-size 32px
            @media(max-width 767px)
                padding-top 100px
        h4
            font-size 22px
        h2
            padding-top 50px
            font-size 42px
            @media(max-width 767px)
                font-size 36px
    .second-pages
        .maw428
            max-width 428px
            width 100%
            float right
            text-align center
            @media(max-width 767px)
                float none
                margin 0 auto
        h2
            padding-top 95px
            font-size 36px
            @media(max-width 767px)
                padding-top 50px
        h3
            padding 5px 0 60px
            font-size 24px
        .pic
            .item
                width 46%
                height 100px
                background url('') center center no-repeat
                background-size 90% auto
                
    .third-pages
        h2
            padding-top 70px
            font-size 36px
            // @media(max-width 767px)
            //     padding-top 20px
            //     text-align center
        .pic
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)
            // @media(max-width 767px)
            //     position static
            //     transform translate(0,0)
            //     max-width 500px
            //     width 80%
            //     margin 0 auto
            max-width 500px
            width 80%
            img
                display block
                margin 0 auto
                width 100%
                // @media(max-width 767px)
                


.main-sub-title
    height 160px
    font-size 0
    background url('../img/2ef3ec1c9643fe5c98deccdf2b169981-1560+160.jpg') center top/cover no-repeat
    text-align center
    @media(max-width 767px)
        height auto
    h2
        font-size 24px
        color #ffffff
        line-height 2
        @media(max-width 767px)
            padding 10px 0
            font-size 20px
            width 80%
            margin 0 auto
            font-size 12px
            width 100%
    h2
    i
        display inline-block
        vertical-align middle
    i
        width 0
        height 100%

.main-title
    font-size 36px
    color #1d2741
    text-align center
    line-height 1.5
    &.pt70
        padding-top 70px
    &.pt140
        padding-top 140px
    &.pb50
        padding-bottom 50px
    &.pt100
        padding-top 100px
    &.pb60
        padding-bottom 60px
    .sub-title
        display block
        font-size 14px
        color #9b7f47
        text-transform uppercase

.main-profile
    &.style-2
        padding-bottom 100px
        .row
            margin-top 40px
        .pic
            img
                height 380px
                @media(max-width 1199px)
                    width 100%
                    height 380px
                @media(max-width 991px)
                    height auto
                    max-width 400px
                    margin 0 auto
                @media(max-width 767px)
                    width 70%
                    min-width 200px
        .content
            height 380px
        .content
            @media(max-width 1199px)
                width 100%
                height 380px
            @media(max-width 991px)
                height auto 
                padding 50px 0
            @media(max-width 767px)
                border-top none
            h3
            p
                text-align left
                text-indent 0
    .pic
        img
            display block
            width 450px
            height 450px
            border-radius 0 30px 0 30px
            @media(max-width 1199px)
                width 100%
                height 390px
            @media(max-width 991px)
                height auto
                max-width 400px
                margin 0 auto
            @media(max-width 767px)
                width 70%
                min-width 200px
    .content
        height 450px
        font-size 0
        box-sizing border-box
        border-top 1px solid #ded3bd
        border-bottom 1px solid #ded3bd
        @media(max-width 1199px)
            width 100%
            height 390px
        @media(max-width 991px)
            height auto 
            padding 50px 0
            border-top none
        .vam>*
            width 90%
            max-width 470px
            margin 0 auto
            @media(max-width 767px)
                width 100%
        .vam
            width 100%
        .vam
        i
            display inline-block
            vertical-align middle
        i
            width 0
            height 100%
        h3
            padding-bottom 50px
            font-size 24px
            color #ac915b
            line-height 1.5
            text-align center
            @media(max-width 767px)
                padding-bottom 20px
                font-size 20px
        p
            font-size 14px
            color #1d2741
            line-height 22px
            padding-top 10px
            text-indent 2em
            text-align justify

.main-server
    .col-sm-4+.col-sm-4
        @media(max-width 767px)
            margin-top 30px
    .item
        max-width 340px
        position relative
        margin-top 100px
        @media(max-width 767px)
            float none
            margin 100px auto 0
    .content
        position relative
        background #fbfbfb
        padding 30px 30px 35px
        transition 0.3s
        &:hover
            box-shadow 0 0 10px rgba(#000,0.2)
    .pic
        position absolute
        left 50%
        top -85px
        z-index 1
        width 110px
        height 110px
        box-sizing border-box
        background #1f2741 url('') center center no-repeat
        border 6px solid #ac915b
        border-radius 50%
        margin 0 0 0 -55px
    h3
        padding 15px 0
        font-size 18px
        color #1f2741
        line-height 30px
        text-align center
    p
        position relative
        font-size 14px
        color #999999
        line-height 20px
        text-align center
        height 60px
        overflow hidden
        transition 0.3s
        text-align justify
        &.more
            &.active
                height auto
                span
                    transform rotate(180deg)
            span
                position absolute
                right 0
                bottom 0
                width 28px
                font-weight bold
                text-align center
                height 20px
                background #fbfbfb
                color #ac915b
                cursor pointer
                transition 0.3s
                font-size 16px
    a
        display block
        width 100px
        height 35px
        margin 35px auto 0
        font-size 14px
        color #ac915b
        border 1px solid #ac915b
        text-align center
        line-height 35px
        transition 0.3s
        &:hover
            background #ac915b
            color #ffffff
.main-brand-list
    padding-bottom 90px
    .pic
        display block
        width 250px
        height 70px
        margin 0 auto 15px
        background  url('') center center no-repeat
        border 1px solid transparent
        transition 0.3s
        @media(max-width 1199px)
            float none
        @media(max-width 767px)
            width 100%
        @media(max-width 600px)
            background-size 80% auto
        &:hover
            border-color #ac915b

.main-nav
    .nav
        padding 20px 0
        font-size 14px
        color #999999
        line-height 40px
        a
        span
            color #333333

.main-news
    .type-container
        padding 15px 0
        border-bottom 1px solid #eaeaea
        a
            position relative
            transition 0.3s
            margin 0 10px
            line-height 30px
            font-size 20px
            color #666666
            display inline-block
            &:after
                content ''
                position absolute
                bottom -16px
                left 0
                right 0
                height 4px
                background rgba(0,0,0,0)
                transition 0.3s
            &:hover
            &.active
                color #ac915b
                &:after
                    background #ac915b
    .list
        padding-top 10px
        .item
            padding 30px 0
            width 100%
            border-bottom 1px solid #eeeeee
            @media(max-width 992px)
                width 50%
                box-sizing border-box
                &:nth-child(even)
                    padding-left 7px
                &:nth-child(odd)
                    padding-right 7px
            @media(max-width 767px)
                width 100%
                &:nth-child(even)
                &:nth-child(odd)
                    padding 30px 0
        .pic
        .content
            height 195px
            // @media(max-width 992px)
            //     height auto
        .pic
            width 260px
            @media(max-width 992px)
                width 100%
                margin 0 auto
                height auto
            img
                width 100%
                display block
        .content
            position relative
            width 800px
            width calc(100% - 260px)
            box-sizing border-box
            padding-left 40px
            @media(max-width 992px)
                width 100%
                padding-left 0
                height auto
            @media(max-width 767px)
                height auto
            h3
                font-size 24px
                color #353535
                line-height 60px
                white-space nowrap
                text-overflow ellipsis
                overflow hidden
            p
                padding-top 5px
                font-size 14px
                line-height 22px
                color #666666
            .option
                position absolute
                bottom 0
                left 40px
                font-size 12px
                color #999999
                line-height 20px
                @media(max-width 992px)
                    padding 10px 0
                    position static
                    overflow hidden
                &>div
                    padding-right 20px
                .zan
                    padding-left 20px
                    background url('../img/68a7b1407336f4a6130cf20fc6544724-15+17.png') left center no-repeat
    .more-load
        padding 60px 0 150px
        a
            display block
            margin 0 auto
            maxw-width 300px
            width 80%
            height 45px
            font-size 16px
            color #ff7300
            text-align center
            line-height 45px
            border 1px solid #ff7300

.main-news-details
    padding-bottom 120px
    h3
        padding 35px 0
        font-size 38px
        color #353535
        line-height 48px
        text-align center
        border-bottom 1px solid #eaeaea
    .date
        padding 25px 0 40px
        line-height 1
        font-size 14px
        color #bbbbbb
        text-align center
    p
        padding 30px 60px 0
        font-size 18px
        color #4d4f53
        line-height 32px
        padding-top 30px
        text-indent 2em
        @media(max-width 767px)
            padding 30px 0 0
    .pic
        padding-top 30px
        img
            display block
            max-width 600px
            width 100%
            margin 0 auto

.main-product-server
    .review-mechanism
        background #fbfbfb
        padding 50px 0 0 50px
        height 260px
        box-sizing border-box
        @media(max-width 1199px)
            padding 50px 0
            height auto
        .pic
            width 110px
            height 110px
            box-sizing border-box
            background #1f2741 url('') center center no-repeat
            border 6px solid #ac915b
            border-radius 50%
            @media(max-width 1199px)
                margin 0 auto
                float none
        .content
            max-width 330px
            padding-left 30px
            @media(max-width 1199px)
                padding-left 0
                max-width 70%
                float none
                margin 0 auto
                text-align center
            h3
                padding 15px 0 25px
                font-size 18px
                color #1f2741
            p
                font-size 14px
                color #999999
                line-height 24px
    .levels
        text-align center
        .fz0
            font-size 0
        .item
            display inline-block
            max-width 400px
            width 100% 
            height 120px
            margin-bottom 5px
            vertical-align middle
            @media(max-width 992px)
                height auto
        .bgrgba
            background linear-gradient(30deg,#ffffff,#f8f5f0,#f7f4ee)
        .bge6decd
            background #e6decd
        .bgdacdb5
            background #dacdb5
        .bgcdbd9d
            background #cdbd9d
        ul
            padding-top 20px
            @media(max-width 992px)
                padding 20px 0
            li
                text-align left
                display inline-block
                width 50%
                font-size 14px
                color #333333
                line-height 28px
                padding-left 70px
                box-sizing border-box
                @media(max-width 767px)
                    padding-left 0
                    text-align center
        h3
            font-size 22px
            color #333333
            line-height 120px
            text-indent 50px
            text-align left
            @media(max-width 992px)
                line-height 2
                text-align center
                text-indent 0
    .management-process
        .tips
            &.c999
                color #999999
            font-size 16px
            color #9b7f47
            text-align center
            line-height 24px
            text-align center
        h3
            padding 60px 0 10px
            font-size 20px
            color #333333
            text-align center
    .management-process-steps
        background linear-gradient(to right,#ffffff ,#fedad9 10%,#fedad9 90%,#fff) center 110px/1200px 2px no-repeat
        @media(max-width 991px)
            background-size 90% 2px
            background-position center 110px,center 246px
            background-image linear-gradient(to right,#ffffff ,#fedad9 10%,#fedad9 90%,#fff),linear-gradient(to right,#ffffff ,#fedad9 10%,#fedad9 90%,#fff)
        &.pt40
            padding-top 40px
        .item-wrap
            width 100%    
            .item
                width 12.5%
                text-align center
                @media(max-width 991px)
                    width 25%
                    &:nth-child(n+5)
                        margin-top 20px
                .step
                    font-size 22px
                    color #9b7f47
                    text-align center
                .en
                    padding 4px 0 13px
                    font-size 12px
                    text-transform uppercase
                    color rgba(#9b7f47,0.3)
                .round
                    width 12px
                    height 12px
                    background #9b7f47
                    border-radius 50%
                    box-shadow 0 0 0 3px rgba(#e69486,0.4)
                    margin 0 auto
                h4
                    padding-top 23px
                    line-height 1
                    font-size 16px
                    color #333333
                    @media(max-width 500px)
                        font-size 14px
    .management-process
        .pic
            padding 30px 0 100px
            img
                display block
                max-width 450px
                width 100%
                margin 0 auto
    



        
            